In [1]:
# Import Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Import the data
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop columns
charity_df = charity_df.drop(["EIN", "NAME"], axis=1)

In [4]:
# Create Categorical variables list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()
charity_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [5]:
# Unique Values in the Categorical variables
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
# Bin classification
classfication_counts = charity_df.CLASSIFICATION.value_counts()

# Determine which values to replace by bucketing those with values under 1000
replace_classfication = list(classfication_counts[classfication_counts < 1000].index)

# Replace in DataFrame
for classification in replace_classfication:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classification,"Other-classification")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000                   17326
C2000                    6074
C1200                    4837
Other-classification     2261
C3000                    1918
C2100                    1883
Name: CLASSIFICATION, dtype: int64

In [7]:
app_type_counts = charity_df.APPLICATION_TYPE.value_counts()

In [8]:
# Determine which values to replace
replace_app_type = list(app_type_counts[app_type_counts < 100].index)
replace_app_type

['T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

In [9]:
# Replace in DataFrame
for app_type in replace_app_type:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(app_type,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [10]:
income_amt_counts = charity_df.INCOME_AMT.value_counts()
income_amt_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [11]:
# make a bin for 5m+
# Determine which values to replace
replace_income_amt = list(income_amt_counts[income_amt_counts < 300].index)
replace_income_amt

['10M-50M', '5M-10M', '50M+']

In [12]:
# Replace in DataFrame
for income in replace_income_amt:
    charity_df.INCOME_AMT = charity_df.INCOME_AMT.replace(income,"5M+")

# Check to make sure binning was successful
charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
5M+                564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_5M+,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_5M+,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[ 0.01394306, -0.03336766, -0.0572375 , ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306,  0.02868029, -0.0572375 , ...,  7.87712001,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.0572375 , ..., -0.12694995,
         0.02789425, -0.02789425],
       ...,
       [ 0.01394306, -0.03348439, -0.0572375 , ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.0572375 , ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.0572375 , ..., -0.12694995,
         0.02789425, -0.02789425]])

In [17]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=20, input_dim=number_input_features, activation="relu")
)

nn.add(tf.keras.layers.Dense(units=12, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                860
_________________________________________________________________
dense_1 (Dense)              (None, 12)                252
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 1,125
Trainable params: 1,125
Non-trainable params: 0
_________________________________________________________________

In [18]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5960 - accuracy: 0.6963
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7301
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7298
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7321
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7304
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7327
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7318
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7320
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7327
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7342
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7332
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7334
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7339
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7347
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7347
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7344
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7350
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7351
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7359
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7360
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7360
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7360
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7348
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7367
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7374
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7365

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 219024.5625 - accuracy: 0.5332
Loss: 219024.5625, Accuracy: 0.5331778526306152